/*Global */
a:hover,
a:focus{
    outline: 2px solid #FF5D00;
}
.allcontent{
	width: 80%;
	margin: auto;
	overflow: hidden;
}
/*End Global*/
/*Skip Link*/
.mainSkipLink{
    position: absolute;
    left: -99999px;
	overflow: hidden;
}
a.mainSkipLink:focus,
a.mainSkipLink:active,
a.mainSkipLink:hover{
	position: absolute;
	left: 0;
    top: 0;
	width: auto;
	height: auto;
	background: #494747;
    color: #ffffff;
    border: 2px solid #FF5D00;
	font-family: Helvetica, Arial, sans-serif;
	padding: 1em;
	overflow: visible;
	}
/*End Skip Link*/
/*Header*/
header{
	background: #494747;
	color: #ffffff;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 70px;
	border-bottom: #FF5D00 2px solid;
}
header #logo{
	float: left;
}
header #logo img{
	float: left;
}
header #logo h1{
	position: relative;
	left: 15px;
	margin: 0;
	font-family: "Verdana", sans-serif;
	font-size: 40px;
}
header nav{
	float: right;
}
/*End Header*/
/*Icon Bar*/
.icon-bar{
	position: fixed;
	top: 50%;
	right: 0;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.icon-bar a{
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  font-size: 20px;
}
.icon-bar a:hover{
  background-color: #000;
}
.fa{
	font-size: 30px;
	width: 50px;
	text-align: center;
	text-decoration: none;
}
.fa-google{
	background-color: #dd4b39;
	color: white;
}
.fa-twitter{
	background-color: #55ACEE;
	color: white;
}
.fa-facebook{
	background-color: #3B5998;
	color: white;
}
.fa-linkedin{
	background-color: #007bb5;
	color: white;
}
.fa-snapchat-ghost{
	background-color: #fffc00;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.fa-instagram{
	background-color: #125688;
	color: white;
}
.fa-github{
	background-color: #24292E;
	color: white;
}
.fa-stack-overflow{
	background-color: #F48024;
	color: black;
}